/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.producto {
    font-size: 2vw;
}




nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.producto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.producto img {
    max-width: 10%;
    height: auto;
}

.comprar{
    padding: 1vw;
    color: white;
    font-size: 1.5vw;
    height: 5vw;
    width: 10vw;
    background-color: green;
    border-radius: 20px;
}

.comprar :hover{
    background-color: darkgreen;
}

.INC{
    display: flex;
    padding-right: 2vw;
    justify-content:space-evenly;
    width: 100%;
    padding: 1vw;
}

.INC :hover{
    background-color: #333;
}

.INC button{
    width: 4vw;
    height: 4vw;
    border-radius: 20px;
}



.contenido{
    height: 50vw;

}

.contacto{
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .producto {
        width: 100%;
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .producto {
        margin: 5px 0;
    }
}